// Style SCSS de la page About

.about_main_collapse {
  width: 85%;
  margin: 0 auto;  

    @media screen and (max-width: 600px) {          
     width: 92%;
    }
    
   @media screen and (min-width: 601px) and (max-width: 900px) {        
     width : 94%;
    }        
}