// Style SCSS de la page About

.about_main_collapse {
  width: 85%;
  margin: 0 auto;  

  @media screen and (max-width: map-get($breakpoints, mobile)) {          
   width: 92%;
  }
    
  @media screen and (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, tablette)) {        
   width : 94%;
  }        
}