.banner-container {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 30px;
  background: #000000;
  border-radius: 25px;
  height: 223px;
  border-radius: 25px;
}

.img-banner {
  display: flex;  
  width: 100%;  
  border-radius: 25px;
  filter: brightness(0.5);
}