// Style SCSS de la page Fiche logement individuel

.redFont {
	color: $primary-color;
}

.fiche-container {
	display: flex;
    align-items: center;
    justify-content: center;
	flex-direction: column;
	//margin: 0px 10px 0px 10px;
}

.title-container {
	display: flex;
	flex-direction: column;
	
}

