// Style SCSS du composant Rate

.rate-comp {
    display: flex;
    justify-content: space-between;
    width: 98px;
    height: 18px;
    margin-bottom: 24px;   
}

.rate-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.star {
    width: 15px;
    height: 15px;
}