// Style SCSS du composant Rate

.rate-comp {
    display: flex;
    justify-content: space-between;
    width: 120px;
    height: 18px;
    margin-bottom: 18px;   
}

.rate-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.star {
    width: 16px;
    height: 16px;
}