// Style SCSS du composant Host

.host-comp {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	width: 100%;
}

.hostPicture {
	display: flex;
	margin-left: 10px;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: #c4c4c4;

	& img {
		width: 100%;
        height: 100%;
		border-radius: 50%;
		object-fit: cover;
	}
}

.host-name {
	display: flex;
    align-items: center;
    justify-content: flex-end;
	width: 63px;
	height: 66px;
	text-align: right;	
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
	
}

.rate-host-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	
}

.hostInfo-container {
	display: flex;
	flex-direction: row;
	width: 90%;
	justify-content: space-between;	
	margin-bottom: 20px;	
}