// Style SCSS des composants Collapse de la page About

.collapse {    
    max-width: 1100px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0 auto;
    margin-bottom: 40px;

    img { 
        display: flex;
        align-self: center;
        width: 24px;
        height: 13.71px;
    }

    &_title {
        display: flex;
        justify-content: space-between;        
        background-color: $primary-color;
        color: $tertiary-color;
        border-radius: 10px;
        font-weight: 500;
        font-size: 18px;
        margin : 0;
        padding: 10px 15px;
        cursor: pointer;

        .arrow {
            transition: all 0.2s ease-in-out;           
        }

        .arrow_up {
            transform: rotate(0deg);
        }

        .arrow_down {
            transform: rotate(180deg);
        }
    }

    &_description { 
        display: flex;
        flex-direction: column;
        background-color: $secondary-color;
        gap: 5px;
        letter-spacing: 1px;
        visibility: visible;
        opacity: 1;
        height: auto;
        margin: 0;
        padding: 10px;        
        font-size: 16px;
        color: $primary-color;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.5s ease-in-out,
                    height 0.2s ease-in-out;
    }

    &_description_hidden {
        visibility: hidden;
        opacity: 0;
        height: 0px;        
    }
}
