// Style SCSS des composants du Header

.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 68px;
  margin-top: 40px;

   @media screen and (max-width: 600px) {
        width: 90%;
        margin: 20px auto -19px;
    }

}

.logo{
    width: 210px;
    height: 68px;

    @media screen and (max-width: 600px) {
    display: block;
    width: 145px;
    height: 47px;
    transform: scale(0.8);
    margin-left: -15px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    }

   @media screen and (min-width: 601px) and (max-width: 900px) {        
        width: 180px;
        height: 58px;
      }    
}

.nav {  
  left: 90.65%;
  right: 0%;
  top: 25%;
  bottom: 25%;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 142.6%;  

  display: flex;
  align-items: flex-end;
  text-align: right;

  color: $primary-color;
  list-style-type: none; 
}

.navlink {
  color: $primary-color;
  padding-left: 57px;
  text-decoration: none;
  justify-content: space-between;

  &:hover {
    text-decoration-line: underline;
    color: $primary-color;
  } 

  &:focus {
    text-decoration: underline;    
    color: $primary-color;
  }

  @media screen and (max-width: 600px) {
    font-size: 12px;
    padding-right: 3px;
    padding-left: 10px;
    padding-bottom: 20px;
    text-transform: uppercase;
    } 
}

