// Style SCSS des composants de la bannière

.banner {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 120px;  
  border-radius: 25px;
  height: 223px;  
}

.banner-image {
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

.banner-title {
  position: absolute;
  left: 25.9%;
  right: 25.14%;
  top: 24.32%;
  bottom: 69.04%;
  font-family: "Monserrat", sans-serif;
  font-size: 48px;
  color: $tertiary-color;
  text-align: center;
  font-weight: normal;
  z-index: 20;
}

// Style SCSS des composants de la bannière de la page A Propos

.banner-container {
  position: relative;
  width: 90%;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 120px;  
  border-radius: 25px;
  height: 223px;
  border-radius: 25px;  
}

.img-banner {
  display: flex;  
  width: 100%;  
  border-radius: 25px;
  filter: brightness(0.5);
}
