// Style SCSS de Base des différentes pages du projet

  body {
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
   
  }
    
  a {
    text-decoration: none;
  }  
    
    
  li {
    list-style-type: none;
  }